<ng-container>
  <div class="header header-4">
    <div class="branding">
      <a href="javascript:void(0)" class="nav-menu-title">
        <span class="title">ng-chuck-norris</span>
      </a>
    </div>
    <div class="header-nav">
      <!-- <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cloud"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="folder"></clr-icon>
      </a> -->
    </div>
    <div class="header-actions">
      <clr-dropdown [clrCloseMenuOnItemClick]="true">
        <button class="btn btn-link" clrDropdownToggle>
          <clr-icon shape="cog"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <button type="button" class="dropdown-item active">
            <clr-icon shape="info-standard"></clr-icon>
            <span>Link 1</span>
          </button>
          <button type="button" class="dropdown-item disabled">
            <clr-icon shape="error-standard error"></clr-icon>
            <span>Link 2</span>
          </button>
          <button type="button" class="dropdown-item">
            <clr-icon shape="warning-standard warning"></clr-icon>
            <span>Link 4</span>
          </button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item">
            <clr-icon shape="success-standard success"></clr-icon>
            <span>Link 5</span>
          </button>
        </div>
      </clr-dropdown>
      <div class="branding-overflow-menu">
        <a href="javascript:void(0)" class="nav-menu-title">
          <span class="title">overflow-menu</span>
        </a>
      </div>
    </div>
  </div>
</ng-container>
