<ng-container>
    <a clrVerticalNavLink routerLink="['/']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
        Calendar
    </a>
    <a clrVerticalNavLink routerLink="['/']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="cloud"></clr-icon>
        Cloud
    </a>
    <a clrVerticalNavLink routerLink="['/']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="eye"></clr-icon>
        Eye
    </a>
</ng-container>
