.main-container.open-hamburger-menu .sidenav.clr-nav-level-1,
.main-container.open-hamburger-menu .clr-vertical-nav.clr-nav-level-1,
.main-container.open-overflow-menu .sidenav.clr-nav-level-2,
.main-container.open-overflow-menu .clr-vertical-nav.clr-nav-level-2 {
    padding-top: $clr-header-height; //$clr-header-height + $clr_baselineRem_1;
}

.main-container .header .branding-overflow-menu {
    position: absolute;
    right: -18rem;
    top: -10rem;
}

.main-container.open-overflow-menu .header .branding-overflow-menu {
    display: inline;
    max-width: 18rem;
    overflow: hidden;
    padding-left: 1.2rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 18rem;
    z-index: 1040;
}

.main-container .branding-overflow-menu .title {
    opacity: 0;
}

.main-container.open-overflow-menu .branding-overflow-menu .title {
    color: $clr-color-neutral-700;
    opacity: 1;
    transition: opacity .3s ease-in;
}

.header .branding-overflow-menu  > a {
    align-items: center;
    display: inline-flex;
    height: $clr-header-height;
}

.header .branding-overflow-menu  > a:hover {
    text-decoration: none;
}
