<div class="card text-center">
  <div class="card-header">chuck-norris api @ https://api.chucknorris.io/</div>
  <div class="card-block">
    <div class="card-title">
        <img class="hvr-buzz-out" alt="Chuck Norris Jokes Api - JSON API for random Chuck Norris jokes"
          src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small.png">
    </div>
    <div class="card-text">
      <app-shared-loading-spinner></app-shared-loading-spinner>
      {{ randomJoke?.value || 'loading...' }}
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="refreshRandomJoke()">
      new random joke
    </button>
  </div>
</div>
