@import './../../../styles/variables';

:host {
    position: absolute;
    width: 100%;
    z-index: 2;
    > div {
        left: 0;
        position: relative;
        top: 0;
    }
}

.progress.loop > progress {
    height: .1rem;
}

.custom-spinner {
    max-width: 2rem;
    svg {
        animation: 2s linear infinite svg-animation;
        max-width: 100px;
    }
}

// SVG animation.
@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

// Circle styles.
circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: $primary-color;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-linecap: round;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

// Circle animation.
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
