<app-shared-loading-spinner></app-shared-loading-spinner>

<h1>sample form with nested components</h1>

<app-sample-form></app-sample-form>

<h1>json-placeholder: posts + comments + user</h1>

<div class="card" *ngFor="let post of posts$ | async">

  <div class="card-header">{{post.title}}</div>

  <div class="card-block">

    <div class="card-text"> {{ post.body }} </div>

  </div>

  <div class="card-footer">

    <small>

      <div>{{ post.user?.name }} {{ post.user?.email }}</div>

      <div>{{ post.user?.address | json}}</div>

      <div>

        <button class="btn btn-outline" (click)="showCommentsPosts(post)">
          show comments ({{post?.comments?.length }})
        </button>

      </div>

    </small>

  </div>

</div>

<app-shared-modal
  [title]="selectedPost.title || ''"
  [showCancelButton]="false"
  [showOkButton]="false"
  #refComments
>

  <div class="body" *ngIf="selectedPost && selectedPost.comments">

    <p *ngFor="let comment of selectedPost.comments">
       {{ comment.body}} {{ comment.name }} {{ comment.email }}
    </p>

  </div>

  <div class="modal-footer">

    <button class="btn btn-outline" (click)="refComments.closeModal()">
       Cancel
    </button>

    <button class="btn btn-primary" (click)="refComments.closeModal()">
       Ok
    </button>

  </div>

</app-shared-modal>

