/* You can add global styles to this file, and also import other style files */

@import './../node_modules/@clr/icons/clr-icons.min.css';

@import './styles/clarity.theme.scss';

.main-container .content-container .clr-vertical-nav.toolbarnav {
    order: 2;
}

.header clr-dropdown .dropdown-menu clr-icon {
    fill: #999;
    margin-right: 0.2rem;
}
