/* You can add global styles to this file, and also import other style files */

@import './../node_modules/@clr/icons/clr-icons.min.css';
@import './../node_modules/@clr/ui/clr-ui.min.css';



.sidenav .nav-group .nav-list, .sidenav .nav-group label {
    padding: 0;
    padding-left: 1rem;
}

.sidenav .nav-group .nav-list .nav-link {
    line-height: 1rem;
    padding: 0.5rem;
}
